{% extends "_layout.html" %}
{% block content %}

<h1>News</h1>

{% if user %}
<a href="{{controller.get_create_url()}}"> добавить </a>
{% endif %}


{% if news %}
<script type="text/javascript">
    function delete_new(id) {
        api("News.Delete", {news_id: id}).then(() => document.location.reload);
    }
</script>
{% for item in news %}
    <p>{{item.title}}</p>
    <p>{{item.date}}</p>
    <p>{{item.text}}</p>
    <img src="{{item.img}}" width="150px" />
    <button onclick="delete_new({{item.id}})" > Удалить </button>
{% endfor %}
{% else %}
<p>Нет новостей</p>
{%endif%}

{% endblock %}